temp/youtube-automation-workflow.json
{
  "name": "YouTube Shorts Auto-Upload",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dQCg_4N5J3_Rr5N9Q1FWYYpIEU7jjG9F",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f12345678901",
      "name": "Download Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-1.5-flash:generateContent?key=AIzaSyCm553WDcaIYiDYW79X7K1rE6q1ka-Ztmw",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate YouTube Shorts metadata for a PPSC General Knowledge quiz video.\\n\\nProvide:\\n1. An engaging title (max 100 chars)\\n2. A description (150-200 chars) for kids and students\\n3. 10 trending tags: education, quiz, PPSC, shorts\\n4. Return ONLY valid JSON: {\\\"title\\\": \\\"PPSC Quiz #1 | Test Your Knowledge\\\", \\\"description\\\": \\\"Quick GK quiz for PPSC exam prep\\\", \\\"tags\\\": [\\\"PPSC\\\", \\\"quiz\\\", \\\"education\\\", \\\"gk\\\", \\\"shorts\\\", \\\"pakistan\\\", \\\"exam\\\", \\\"mcq\\\", \\\"learning\\\", \\\"students\\\"]}\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-123456789012",
      "name": "Generate SEO with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "jsonata",
        "jsonata": "=$eval($json.candidates[0].content.parts[0].text)"
      },
      "id": "d4e5f6g7-h8i9-0123-defg-234567890123",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "categoryId": "27",
        "description": "={{ $json.description }}",
        "tags": "={{ $json.tags.join(',') }}",
        "privacyStatus": "public",
        "options": {
          "madeForKids": true,
          "selfDeclaredMadeForKids": true
        },
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-345678901234",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "youtubeOAuth2Api": {
          "id": "2",
          "name": "YouTube Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Filename": "={{ $('Download Video').item.json.name }}",
            "YouTube URL": "={{ $json.id }}",
            "Title": "={{ $('Parse Gemini Response').item.json.title }}",
            "Upload Date": "={{ $now }}",
            "Status": "Success"
          }
        },
        "options": {}
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-456789012345",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1250, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Generate SEO with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO with Gemini": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
